.container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);

  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;

  box-sizing: content-box;
  

  flex-basis: calc(100% / 4 - 10px);

  margin-left: 30px;
  margin-top: 30px;

  padding: 10px;

  border: 1px solid black;
  border-radius: 5px;

  background-color: rgb(1, 127, 230);
}

.number {
  margin-left: 10px;
}

.btnRemove {
  cursor: pointer;

  margin-left: 20px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  border-radius: 10px;

  background-color: rgb(214, 65, 65);
}
